#overlay {
  background-color: red;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 999;

  width: 50%;
  height: 80%;
  padding: 0;

  background-color: #ffffff;
  border-radius: 7px;
  border: none;

  display: flex;
  flex-direction: column;

  img {
    border-radius: 7px 7px 0 0;
    height: 70%;
  }

  &__info {
    padding: 15px 20px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  svg {
    background-color: transparent;
    color: #dc143c;
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 0;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
}
